.container{
	width: 100%;
}
.checkbox{
	width: 100%;
}
#container-header{
	padding: 0;
}
.navbar{
	margin-bottom: 0px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}